<div class="container-fluid bg-light d-sm-flex">

<div class="col-sm-8">

  <div class="container-fluid my-4">
    <h1 class="text-secondary">New Post</h1>

    <%= render 'opinions/form', opinion: @opinion %>

    
  </div>

    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#post">Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#followers">Followers</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="post">
      <% @opinions.each do |opinion| %>
        <div>
          
          <div class="py-4"><%= opinion.content %></div>
          <div>
            <span> Posted by: </span><%= link_to opinion.user.first_names, user_path(opinion.user), class: "btn btn-primary"  %> <span>at: <%= opinion.created_at %></span>
          </div>
          
        </div>
      <% end %>
    </div>
    <div class="tab-pane container fade" id="comments">...</div>
    <div class="tab-pane container fade" id="followers">...</div>
  </div>

  <%= link_to 'New Opinion', new_opinion_path %>
  </div>
  <div class="col-sm-4 py-4">
    <h4 class="text-center text-secondary">List of all Users</h4>
      <% @users.each do |user| %>
       <div class="card">
        <div class="card-body text-center">
          <%= link_to user.first_names, user_path(user), class: "card-link text-capitalize" %>
       </div>
      <% end %>
  </div>
</div>