<div class="container-fluid bg-light d-sm-flex">

<div class="col-sm-8">

  <div class="container-fluid my-4">
    <h1 class="text-secondary">New Post</h1>

    <%= render 'opinions/form', opinion: @opinion %>

    
  </div>

    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#post">Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#followers">Followers</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="post">
      <% @opinions.each do |opinion| %>
        <div class="card my-4">
          
          <div class="py-4 card-body mx-4">
            <h6 class="text-uppercase text-secondary text-underline">Post Content</h6>
            <p class="card-title">Author: <%= link_to opinion.user.first_names, user_path(opinion.user), class: "btn text-uppercase"  %></p>
            <p class="opinion-content border-danger border rounded p-4">
               <%= opinion.content %>
            </p>
             
              <div class="card-info my-3">
              <span> Posted at: </span> <span> <%= opinion.created_at %></span>
            </div>
        </div>
          <div>
            
          </div>
          <%= render 'comment', obj: opinion%>
          
        </div>
      <% end %>
    </div>
    <div class="tab-pane container fade" id="comments">...</div>
    <div class="tab-pane container fade" id="followers">...</div>
  </div>
  </div>

  <div class="col-sm-4 py-4">
    <h4 class="text-center text-secondary">List of all Users</h4>
      <% @users.each do |user| %>
       <div class="card">
         <p class="card-title text-center pt-4"><%= link_to user.first_names, user_path(user), class: "text-dark  text-capitalize" %></p>
        <div class="card-body text-center">
          <%if (@current_user.id != user.id)%>
            <% if Friendship.where(user_id: current_user.id, follower_id: user.id).exists?  %>
              <%= link_to "Unfollow", unfollow_path(:id => user.id), method: :delete, data: {confirm: "You are about to Unfollow #{user.last_name}"}, class: "card-link btn btn-danger"%>
            <%elsif !Friendship.where(user_id: current_user.id, follower_id: user.id).exists? %>
              <%= link_to "Follow", follow_path(:id => user.id), class: "card-link btn btn-primary"%>

            <% end %>
          <% end %>
       </div>
      <% end %>
  </div>
</div>