<div class="w-100">
<nav class="navbar navbar-expand-sm justify-content-between bg-success">
     
     

    <%= link_to root_path, class: "nav-link text-white  text-uppercase font-weight-bolder" do %>
      <%= fa_icon('khanda', class: 'text-uppercase', text: 'Zelda', size: '2x')%>
    <% end %>
    
  <!-- Links -->
  <ul class="navbar-nav ">
    <li class="nav-item px-2">
     <%= link_to root_path, class: "nav-link text-white brand text-uppercase font-weight-bolder" do %>
      <%= fa_icon('pen', class: 'text-uppercase', size: '1x')%>
    <% end %>
    </li>
    <li class="nav-item px-2">
        <%= link_to users_path, class: "nav-link text-white brand text-uppercase font-weight-bolder" do %>
      <%= fa_icon('user', class: 'text-uppercase', size: '1x')%>
    <% end %>
    </li>
    <li class="nav-item px-2">
        <%= link_to root_path, class: "nav-link text-white brand text-uppercase font-weight-bolder" do %>
      <%= fa_icon('search', class: 'text-uppercase', size: '1x')%>
    <% end %>
    </li>
  </ul>

</nav>
</div>
