<div class="wrapper bg-dark">
    <button class="sticky-top navbar-toggler bg-dark text-light py-3" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars text-light"></i>
    </button>

    <aside class="collapse  navbar-collapse min-100-vh bg-dark" id="navbarTogglerDemo03">
    
                <nav class="navbar sticky-top bg-dark flex-column align-items-start navbar-dark ">
                <div class="brand d-inline-flex">
                <a class="navbar-brand" href="#">
                    <% if current_user.photo.url.nil? %>  
                    <%= image_tag "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9", alt: "profile", width: "80", class: " rounded-circle"%>
                    <% else %>
                    <%= image_tag current_user.photo.url.to_s , alt: "logo", width: 80, class: "rounded-circle"%>
                    <% end %>                    
                </a>
                    

                    <%= link_to current_user.first_names, user_path(current_user), class: "nav-link align-self-center p-0 text-capitalize text-light"%>
                </div>
                    <div class="w-100 d-flex text-center py-4 justify-content-between">
                        <div class="col-6"> <p class="text-white"><%= current_user.friendships.following(current_user).count%></p> <p class="following text-light">Following</p></div>
                        <div class="col-6"> <p class="text-white"><%= Friendship.all.followers(current_user).count%></p> <p class="following text-light">Followers</p></div>
                    </div>
            
                    <ul class="navbar-nav w-100 my-2">
                        <li class="nav-item">
            
                        <%= link_to root_path, class: "nav-link text-white text-uppercase font-weight-bolder" do %>
                            <%= fa_icon('home', class: 'text-uppercase', text: 'Home', size: '1x')%>
                        <% end %>
                          
                        </li>
                        <li class="nav-item">
                            <%= link_to "@ Connect", root_path, class: "nav-link text-uppercase"%>
                        </li>
                        <li class="nav-item">
                            <%= link_to "# discover", root_path, class: "nav-link text-uppercase"%>
                        </li>
            
                        <li class="nav-item">
                        <%= link_to user_path(current_user), class: "nav-link text-uppercase" do %>
                            <%= fa_icon('user', class: 'text-uppercase', text: 'Profile', size: '1x')%>
                        <% end %>
                        </li>
            
                        <li class="nav-item">
                        <%= link_to opinions_path, class: "nav-link text-uppercase" do %>
                            <%= fa_icon('chart-line', class: 'text-uppercase', text: 'Statistics', size: '1x')%>
                        <% end %>
                            
                        </li>
                        <% if user_signed_in? %>
                        <li class="nav-item py-3">
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Log #{@user.last_name} out?"}, class: "btn btn-danger text-uppercase"%>
                        </li>
                        <% end %>
                    </ul>
                </nav>
        
        </aside>
</div>