<!DOCTYPE html>
<html>
  <head>
    <title>Zelda Fan Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="row">
  <%= render 'layouts/sidebar'%>
  <div class="col-10 p-0">
  <%= render 'layouts/navbar'%>
  <%= render 'layouts/messages'%>
  </div>
    <%= yield %>
  </div>
  </body>
</html>
