<!DOCTYPE html>
<html>
  <head>
    <title>Zelda Fan Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="row">
  <div class="container-fluid d-flex">
  <%= render 'layouts/sidebar'%>
 
  <div class="container-fluid p-0">
  <%= render 'layouts/navbar'%>
  <%= render 'layouts/messages'%>
  <%= yield %>
  </div>
   </div>
    
  </div>
  </body>
</html>
